
@font-face
{
	fontFamily: "HG丸ｺﾞｼｯｸM-PRO";
	src: url("C:\Windows\Fonts\HGRSMP.TTF");
	embedAsCFF: true;
}
@font-face
{
	fontFamily: "ＭＳ Ｐゴシック";
	src: url("C:\Windows\Fonts\msgothic.ttc");
	embedAsCFF: true;
}

